* {
    list-style: none;
}

#container {
    max-width: 950px;
    max-height: 600px;
    margin: 0 auto;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#board-container {
    display: flex;
    flex-direction: row;
}

#left {
    height: 600px;
    width: 300px;
}

#middle {
    background: black;
    color: white;
    height: 600px;
    width: 300px;
}

#right {
    height: 600px;
    width: 300px;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

.hidden-cards {
    display: none;
}